 
h1{
    font-size: 24px;
    font-family: serif;
}
.linea{
    width: 120px;
    height: 3px;
    background-color: black;
}
.todo div{
    width: 200px;
    height: 200px;    
}
ul li{
    display: inline;
    color: white;
    position:absolute;
    left: 80px;
    top: 180px;
}
.uno{
    background-image: url(../img/profile-1.png);
    position: relative;
    opacity: 100;
    
}
.dos{
    background-image: url(../img/profile-2.png);
    position: absolute;
    left: 230px;
    top:80px;
}
.tres{
    background-image: url(../img/profile-3.png);
    position: absolute;
    left:450px;
    top:80px;    
}
.cuatro{
    background-image: url(../img/profile-4.png);
    position: relative;
}
.cinco{
    background-image: url(../img/profile-5.png);
    position: absolute;
    left:230px;
    top:295px;
}
.seis{
    background-image: url(../img/profile-6.png);
    position: absolute;
    left: 450px;
    top: 295px;
}